## 판다스를 이용한 문자 다루기

* 테스트 데이터
  * 우편번호 데이터 
  * 네이버 평점 데이터

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/경기도.txt', sep='|')

C:\Users\user\AppData\Local\Temp\ipykernel_14640\4181035106.py:1: DtypeWarning: Columns (5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/경기도.txt', sep='|')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020769 entries, 0 to 1020768
Data columns (total 26 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   우편번호      1020769 non-null  int64
 1   시도        1020769 non-null  object
 2   시도영문      1020769 non-null  object
 3   시군구       1020769 non-null  object
 4   시군구영문     1020769 non-null  object
 5   읍면        503815 non-null   object
 6   읍면영문      503815 non-null   object
 7   도로명코드     1020769 non-null  int64
 8   도로명       1020769 non-null  object
 9   도로명영문     1020769 non-null  object
 10  지하여부      1020769 non-null  int64
 11  건물번호본번    1020769 non-null  int64
 12  건물번호부번    1020769 non-null  int64
 13  건물관리번호    1020769 non-null  object
 14  다량배달처명    0 non-null        float64
 15  시군구용건물명   136610 non-null   object
 16  법정동코드     1020769 non-null  int64
 17  법정동명      516954 non-null   object
 18  리명        503815 non-null   object
 19  행정동명      966845 non-null   object
 20  산여부       1020769 non-null  int64
 21  지번본번      1020769 non-null  int64
 22  읍면동일련번호   1020769 non-null  int64
 23  지번부번      1020769 non-null  int64
 24  구우편번호     0 non-null        float64
 25  우편번호일련번호  0 non-null        float64
dtypes: float64(3), int64(10), object(13)
memory usage: 202.5+ MB

In [4]:
data.head()

,우편번호,시도,시도영문,시군구,시군구영문,읍면,읍면영문,도로명코드,도로명,도로명영문,...,법정동코드,법정동명,리명,행정동명,산여부,지번본번,읍면동일련번호,지번부번,구우편번호,우편번호일련번호
0,12410,경기도,Gyeonggi-do,가평군,Gapyeong-gun,가평읍,Gapyeong-eup,418204448035,능모루길,Neungmoru-gil,...,4182025030,NaN,개곡리,가평읍,0,1111,1,8,NaN,NaN
1,12410,경기도,Gyeonggi-do,가평군,Gapyeong-gun,가평읍,Gapyeong-eup,418204448042,당목가일길,Dangmokgail-gil,...,4182025030,NaN,개곡리,가평읍,0,604,1,5,NaN,NaN
2,12410,경기도,Gyeonggi-do,가평군,Gapyeong-gun,가평읍,Gapyeong-eup,418204448042,당목가일길,Dangmokgail-gil,...,4182025030,NaN,개곡리,가평읍,0,380,1,6,NaN,NaN
3,12410,경기도,Gyeonggi-do,가평군,Gapyeong-gun,가평읍,Gapyeong-eup,418204448042,당목가일길,Dangmokgail-gil,...,4182025030,NaN,개곡리,가평읍,0,836,1,3,NaN,NaN
4,12410,경기도,Gyeonggi-do,가평군,Gapyeong-gun,가평읍,Gapyeong-eup,418204448042,당목가일길,Dangmokgail-gil,...,4182025030,NaN,개곡리,가평읍,0,186,1,0,NaN,NaN

In [5]:
data.iloc[0]

우편번호                            12410
시도                                경기도
시도영문                      Gyeonggi-do
시군구                               가평군
시군구영문                    Gapyeong-gun
읍면                                가평읍
읍면영문                     Gapyeong-eup
도로명코드                    418204448035
도로명                              능모루길
도로명영문                   Neungmoru-gil
지하여부                                0
건물번호본번                             58
건물번호부번                             59
건물관리번호      4182025030111110008000001
다량배달처명                            NaN
시군구용건물명                           NaN
법정동코드                      4182025030
법정동명                              NaN
리명                                개곡리
행정동명                              가평읍
산여부                                 0
지번본번                             1111
읍면동일련번호                             1
지번부번                                8
구우편번호                             NaN
우편번호일련번호                          NaN
Name: 0, dtype: object

## 인덱싱 사용하기

* 시군구 확인하기

In [6]:
data['시군구_구분'] = data['시군구'].str[-1]

In [7]:
data['시군구_구분'].head()

0    군
1    군
2    군
3    군
4    군
Name: 시군구_구분, dtype: object

In [8]:
data.groupby('시군구_구분').count()

,우편번호,시도,시도영문,시군구,시군구영문,읍면,읍면영문,도로명코드,도로명,도로명영문,...,법정동코드,법정동명,리명,행정동명,산여부,지번본번,읍면동일련번호,지번부번,구우편번호,우편번호일련번호
시군구_구분,,,,,,,,,,,,,,,,,,,,,
구,261171,261171,261171,261171,261171,31882,31882,261171,261171,261171,...,261171,229289,31882,241678,261171,261171,261171,261171,0,0
군,92703,92703,92703,92703,92703,92703,92703,92703,92703,92703,...,92703,0,92703,88758,92703,92703,92703,92703,0,0
시,666895,666895,666895,666895,666895,379230,379230,666895,666895,666895,...,666895,287665,379230,636409,666895,666895,666895,666895,0,0

## 데이터 합치기

In [9]:
data['시도_시군구'] = data['시도'].str.cat(data['시군구'], sep='_')
data['시도_시군구'].head()

0    경기도_가평군
1    경기도_가평군
2    경기도_가평군
3    경기도_가평군
4    경기도_가평군
Name: 시도_시군구, dtype: object

## 데이터 분리하기

In [10]:
data['시군구영문'].str.split("-")

0          [Gapyeong, gun]
1          [Gapyeong, gun]
2          [Gapyeong, gun]
3          [Gapyeong, gun]
4          [Gapyeong, gun]
                ...
1020764     [Hwaseong, si]
1020765     [Hwaseong, si]
1020766     [Hwaseong, si]
1020767     [Hwaseong, si]
1020768     [Hwaseong, si]
Name: 시군구영문, Length: 1020769, dtype: object

In [11]:
data['시군구영문'].str.split("-", expand=True)

                0    1     2
0        Gapyeong  gun  None
1        Gapyeong  gun  None
2        Gapyeong  gun  None
3        Gapyeong  gun  None
4        Gapyeong  gun  None
...           ...  ...   ...
1020764  Hwaseong   si  None
1020765  Hwaseong   si  None
1020766  Hwaseong   si  None
1020767  Hwaseong   si  None
1020768  Hwaseong   si  None

[1020769 rows x 3 columns]

In [13]:
data['시군구영문_선택'] = data['시군구영문'].str.split("-", expand=True)[0]

In [14]:
data['시군구영문_선택']

0          Gapyeong
1          Gapyeong
2          Gapyeong
3          Gapyeong
4          Gapyeong
             ...
1020764    Hwaseong
1020765    Hwaseong
1020766    Hwaseong
1020767    Hwaseong
1020768    Hwaseong
Name: 시군구영문_선택, Length: 1020769, dtype: object

## 시작글자 인식

In [15]:
tmp_series = data['시군구'].str.startswith("가")
tmp_series

0           True
1           True
2           True
3           True
4           True
           ...
1020764    False
1020765    False
1020766    False
1020767    False
1020768    False
Name: 시군구, Length: 1020769, dtype: bool

In [16]:
tmp_series.sum()

25872

## 끝글자 인식

In [17]:
tmp_series = data['시군구'].str.endswith("시")
tmp_series.sum()

666895

## 네이버 평점 데이터

In [18]:
train_data = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt', sep='\t', encoding='utf-8')

In [19]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [20]:
train_data.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

## 공백제거

In [21]:
train_data['document'] = train_data['document'].str.strip()

## 단어 포함 확인

In [22]:
tmp_series = train_data['document'].str.contains('추천')
tmp_series

0         False
1         False
2          True
3         False
4         False
          ...
149995    False
149996    False
149997    False
149998    False
149999    False
Name: document, Length: 150000, dtype: object

In [23]:
tmp_series.sum()

1158

In [24]:
tmp_series = train_data['document'].str.contains('비추천')
tmp_series.sum()

36

In [25]:
tmp_series = train_data['document'].str.contains(' 추천')
tmp_series.sum()

879

## 문자 사용된 횟수 확인

In [26]:
tmp_series = train_data['document'].str.count('추천')
tmp_series

0         0.0
1         0.0
2         1.0
3         0.0
4         0.0
         ...
149995    0.0
149996    0.0
149997    0.0
149998    0.0
149999    0.0
Name: document, Length: 150000, dtype: float64

In [27]:
tmp_series.min() , tmp_series.max()

(0.0, 2.0)

## 형변환 후 길이 확인

In [28]:
train_data['id'] = train_data['id'].astype('str')
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  object
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.4+ MB

In [29]:
train_data['id_len'] = train_data['id'].str.len()
train_data['id_len']

0         7
1         7
2         8
3         7
4         7
         ..
149995    7
149996    7
149997    7
149998    7
149999    7
Name: id_len, Length: 150000, dtype: int64

In [30]:
train_data['id_len'].min() , train_data['id_len'].max()

(2, 8)

## 문자열 패딩

In [31]:
train_data['id'] = train_data['id'].str.pad(width=8, side='left', fillchar='0')
train_data['id']

0         09976970
1         03819312
2         10265843
3         09045019
4         06483659
            ...
149995    06222902
149996    08549745
149997    09311800
149998    02376369
149999    09619869
Name: id, Length: 150000, dtype: object

## 정규표현식을 이용하여 데이터 찾기

영어 데이터가 있는지 확인하기

In [32]:
tmp_series = train_data['document'].str.find('([a-zA-Z]+)')
tmp_series

0        -1.0
1        -1.0
2        -1.0
3        -1.0
4        -1.0
         ...
149995   -1.0
149996   -1.0
149997   -1.0
149998   -1.0
149999   -1.0
Name: document, Length: 150000, dtype: float64

In [33]:
tmp_series.sum()

-149995.0

In [34]:
tmp_series = train_data['document'].str.findall('[a-zA-Z]+')
tmp_series

0         []
1         []
2         []
3         []
4         []
          ..
149995    []
149996    []
149997    []
149998    []
149999    []
Name: document, Length: 150000, dtype: object

In [35]:
tmp_series = train_data['document'].str.extract('([a-zA-Z]+)')
tmp_series

          0
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
149995  NaN
149996  NaN
149997  NaN
149998  NaN
149999  NaN

[150000 rows x 1 columns]

In [36]:
tmp_series.dropna()

           0
26        kl
53        OO
69      mama
116        D
163      MBC
...      ...
149949    OO
149962    tv
149983   OOO
149991  http
149993   For

[8794 rows x 1 columns]

In [37]:
tmp_series = train_data['document'].str.extractall('([a-zA-Z]+)')
tmp_series

                     0
       match
26     0            kl
       1             g
53     0            OO
       1            OO
69     0          mama
...                ...
149991 2         naver
       3           com
       4      oroblast
149993 0           For
       1          Carl

[13342 rows x 1 columns]

In [38]:
train_data['document'].iloc[26]

'kl2g 고추를 털어버려야 할텐데'

In [39]:
train_data['document'].iloc[69]

'노래실력으로뽑는게 맞냐? 박시환이 mama나가면 진짜 망신이다'

In [41]:
train_data['document'].iloc[149991]

'http://blog.naver.com/oroblast/220215679580 나쁜 인상은 아니지만,오랫동안 기억에 남아....종종 떠올라서....조금은 사람을 피곤하게 만드는 영화. ^^'